@inject Microsoft.Extensions.Localization.IStringLocalizer<Footer> Localizer

<footer class="footer py-4 fixed-bottom">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-white text-lg-start">
                    @Localizer["MadeBy"]
                    <i class="ni ni-favourite-28"></i> 
                    @Localizer["GroupName"]
                </div>
            </div>
        </div>
    </div>
</footer>