.logo-img {

    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 10%!important;
    background-color: lightgrey;
}


@media (max-width: 992px) {
    .navbar.navbar-transparent .navbar-collapse.show {
        background:rgba(0, 0, 0, 0.7);  !important;
    }
    .dropdown-menu {
        position: static; /* Makes the dropdown appear inline on mobile */
        width: 100%; /* Allows it to take the full screen width */
        padding: 1rem; /* Improves touch usability */
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

}


