<div class="d-flex flex-row justify-content-around text-center gap-4">
    <i class="@IconClass text-info h4"></i>
    <p class="text-info mb-0">
        @if (IsMail)
        {
            <a href="mailto:@Text" class="text-info mb-0 z-index-1">@Text</a>
        }
        else
        {
            @Text
        }
    </p>
</div>

@code {
    [Parameter]
    public string IconClass { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool IsMail { get; set; } = false;
}