<div class="@PageClass">
  <header class="">
    <div class="page-header background-overlay min-h" style="background-image:url(@Image) ">
      <div class="container header">
        <div class="row">
          @ChildContent
        </div>
      </div>
    </div>
  </header>
</div>
@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }
  
  [Parameter]
  public string? Image { get ; set; }  
  
  [Parameter]
  public string? PageClass { get ; set; }
  
  protected override void OnParametersSet()
  {
    if (string.IsNullOrEmpty(Image))
    {
      Image = "img/Buut_BG.png";
    }
  }
  
}

