@page "/MakeBookingView"
<PageTitle>Make a booking</PageTitle>

<h1>Make a booking</h1>
<h2>Please select the preferred time</h2>

<link href="css/shared-form.css" rel="stylesheet" />

<div class="form-card">
    <button type="button">Fornoon</button>
    <button type="button">Noon</button>
    <button type="button">Afternoon</button>
</div>
