@page "/MakeBookingView"
@using Microsoft.IdentityModel.Tokens
@inject HttpClient HttpClient

<PageTitle>Make a booking</PageTitle>

<h1>Make a booking</h1>
<h2>Please select the preferred time</h2>

<link href="css/shared-form.css" rel="stylesheet" />

<div class="form-card">
    <button type="button" @onclick='() => _timeOfDay = "forenoon"'>Forenoon</button>
    <button type="button" @onclick='() => _timeOfDay = "noon"'>Noon</button>
    <button type="button" @onclick='() => _timeOfDay = "afternoon"'>Afternoon</button>
</div>

@if (!_timeOfDay.IsNullOrEmpty())
{
    <h2>Please select the preferred day</h2>
    <button type="button" @onclick='RegisterBooking'>Random Day</button>
}

@code {
    private string _timeOfDay;

    private void RegisterBooking()
    {
        Console.WriteLine(_timeOfDay);
    }
}
