@page "/mybookings"
@using Rise.Shared.Bookings
@using Rise.Client.Components.Table
@attribute [Authorize(Roles = "User")]
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyBookingsView> Localizer

<PageTitle>@Localizer["BookingsTitle"]</PageTitle>

<div>
    <GenericTable Headers="Headers" Data="Data(_bookings ?? Array.Empty<BookingDto.ViewBooking>())"  NoDataDisplay="@Localizer["NoBookings"]" IsLoading="_isLoading"/>
</div>