@page "/mybookings"
@attribute [Authorize(Roles = "User")]

<PageTitle>My Bookings</PageTitle>

<div class="bg-white">
    <h1>Bookings</h1>


    @if (bookings == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <p>All bookings</p>
        <table class="table">
        <thead>
            <tr>
                <th>Booking date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bookings)
                {
                    <tr>
                        <td>@booking.bookingDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (futureBooking == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <p>Future booking</p>
        <table class="table">
        <thead>
            <tr>
                <th>Booking date</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@futureBooking.bookingDate</td>
            </tr>

        </tbody>
    </table>
    }
</div>
