<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 <targets>
    <!-- Console logging -->
    <target xsi:type="Console" name="console" layout="${longdate} [${level}]${message}${when:when='${mdlc:UserId:whenEmpty=Unknown}' != 'Unknown':inner=, UserId=${mdlc:UserId}}${when:when='${mdlc:ClientIpAddress:whenEmpty=Unknown}' != 'Unknown':inner=, ClientIP=${mdlc:ClientIpAddress}}${exception:format=tostring}" />
    <!-- File logging with daily rotation -->
    <target xsi:type="File" name="file" fileName="${basedir}/../../../Logs/log-${shortdate}.txt"
            layout="${longdate} [${level}] ${message}${when:when='${mdlc:UserId:whenEmpty=Unknown}' != 'Unknown':inner=, UserId=${mdlc:UserId}}${when:when='${mdlc:ClientIpAddress:whenEmpty=Unknown}' != 'Unknown':inner=, ClientIP=${mdlc:ClientIpAddress}} ${exception:format=tostring}" />
  </targets>



  <rules>
    <!-- Exclude Microsoft.EntityFrameworkCore logs -->
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" maxlevel="Fatal" final="true" />

    <!-- Exclude specific trigger-related logs at Info level -->
    <logger name="Rise.Persistence.Triggers.*" minlevel="Info" maxlevel="Info" writeTo="none" final="true" />

    <logger name="*" minlevel="Info" writeTo="console,file" />
      <filters>
        <!-- Exclude messages where both UserId and ClientIP are "Unknown" -->
        <when condition="('${mdlc:UserId:whenEmpty=Unknown}' == 'Unknown') and ('${mdlc:ClientIpAddress:whenEmpty=Unknown}' == 'Unknown')" action="Ignore" />
      </filters>
  </rules>
</nlog>
