@page "/notifications"
@using Microsoft.Extensions.Localization
@attribute [Authorize(Roles = "User")]
@inject IStringLocalizer<Notifications> Localizer;
@using Rise.Client.Components.Table

<PageTitle>@Localizer["Notifications"]</PageTitle>

<div class="text-white">
    <h1>@Localizer["Notifications"]</h1>

    <p>@Localizer["DemoFetch"]</p>
    <p>Notification count : @notificationCount?.Count</p>

    <GenericTable Headers="Headers" Data="Data(notifications ?? Array.Empty<NotificationDto.ViewNotification>())"
        NoDataDisplay="@Localizer["NoNotifications"]" IsLoading="_isLoading" />
</div>
