@page "/login"
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> Localizer


<main class="main-content mt-0">
  <div class="page-header align-items-center min-vh-100" >
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">@Localizer["Login"]</h4>
              </div>
            </div>
            <div class="card-body">
              <a href="authentication/login" class="w-100" target="_blank">
                <i class="ni ni-circle-08"></i>
                <h4 class="text-primary">Sign in</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
