@page "/UserValidation";
@using Microsoft.Extensions.Localization
@using Rise.Client.Components.Table
@using Rise.Shared.Enums
@using Rise.Shared.Users
@inject IStringLocalizer<UserManagement> Localizer;
@attribute [Authorize(Roles = "Admin")]

<PageTitle>User Validation</PageTitle>

<div class="text-white">
    
    <h1>@Localizer["NewlyRegistered"]</h1>

    <GenericTable Headers="Headers" Data="Data(_newlyRegisteredUsers)" NoDataDisplay="@Localizer["NoUsers"]" IsLoading="_isLoading" />

</div>

@code{

    [Parameter] public EventCallback<string> OnUserSelected { get; set; }
    private bool _isLoading = false;
    private IEnumerable<UserDto.UserBase> _newlyRegisteredUsers = new List<UserDto.UserBase>();

    [Inject] public required IUserService UserService { get; set; }
    [Inject] public required NavigationManager NavigationManager { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        UserFilter newFilter = new UserFilter
        {
            Role = RolesEnum.Pending
        };

        _newlyRegisteredUsers = await UserService.GetFilteredUsersAsync(newFilter);
        _isLoading = false;
    }

    private async Task HandleUserClick(string userId)
    {
        await OnUserSelected.InvokeAsync(userId);
    }

    private List<TableHeader> Headers => new List<TableHeader>
    {
        new (Localizer["User"]),
        new (Localizer["Role"]),
        new (Localizer["ID"], "text-center d-none d-md-table-cell"),
        new ("") // Empty header for action column
    };
    
    private List<List<RenderFragment>> Data(IEnumerable<UserDto.UserBase> users)
    {
        var rows = new List<List<RenderFragment>>();

        foreach (var user in users)
        {
            var row = new List<RenderFragment>
            {
                TableCellService.UserCell(user.FirstName, user.LastName, user.Email),
                TableCellService.ParagraphCell(user.Roles.Select(e => Localizer[e.Name.ToString() ?? string.Empty])),
                TableCellService.BadgeCell(user.Id),
                TableCellService.ActionCell(user.Id, this, HandleUserClick, null)
            };


            rows.Add(row);
        }

        return rows;
    }


}