
@inherits LayoutComponentBase
@using System.Globalization
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> Localizer

<div class="main-content background-overlay">
    <NavBar/>

    <section class="min-vh-100 d-flex align-items-center z-index-3">
        <div class="container">
            @Body
        </div>
    </section>

    <Footer/>
</div>


@code {
    [Inject] IJSRuntime js { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    private string selectedCulture = "en-US";

    protected override async Task OnInitializedAsync()
    {
        // Get the culture from localStorage using JavaScript interop
        var storedCulture = await js.InvokeAsync<string>("blazorCulture.get");

        if (!string.IsNullOrEmpty(storedCulture))
        {
            selectedCulture = storedCulture;
        }
    }

    private async void ChangeLanguage(ChangeEventArgs e)
    {
        var culture = new CultureInfo(e.Value.ToString());

        // Store the selected culture in localStorage
        await js.InvokeVoidAsync("blazorCulture.set", culture.Name);

        // Reload the page to apply the new culture
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true); ;
    }
}
