@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Localizer

<AuthorizeView>
    <Authorized>
        @* Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="BeginLogOut">
                <span class="oi oi-account-logout" aria-hidden="true"></span> @Localizer["Logout"]
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        @* <a href="authentication/login">Log in</a> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authentication/login">
                <span class="oi oi-account-login" aria-hidden="true"></span> @Localizer["Login"]
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public async void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}